body {
    
    font-family: Tahoma, sans-serif;
}

.menu {
    width: 30%;
    float: left;
     background: #222175 ;
    color: #ebdda4;
    font-size: 18px;
}

.content {
    
    background: #84bbff;
}