body {
    
    font-family: Tahoma, sans-serif;
}

.menu {
    width: 25%;
   position: fixed;
    
     background: #AFEEEE;
    color: #000000;
    font-size: 24px;
    
    
   
}

.content {
    float: right;
   width: 74%;
    background: #F0FFF0;
    font-size: 21px;
}

.nav {
    text-decoration: none;
}

.nav:hover {
    background-color: #008B8B;
    color: #FFF8DC;
}
