body {

    font-family: Tahoma, sans-serif;
    background-color: #FAEBD7;

}

.header {
    background: #66CDAA;
    color: #E0FFFF;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h4 {
    font-size: 19px;
    color: #8B4513;
}

h5 {
    text-align: center;
    font-size: 26px;
}

h6 {
    font-size: 24px;
}

p {
    font-size: 24px;
    color: #006400;
}

a {
    text-decoration: none;
}



big {
    color: #FF0000;

}
cite {
    font-size: 19px;
    font-weight: 800;
    color: darkturquoise;
}



.menu {
    width: 25%;
    height: 100%;
    position: fixed;
    float: left;
    background: #AFEEEE;
    color: #000000;
    font-size: 24px;
}

.menu_css {
    width: 25%;
    height:100%;
    position: fixed;
    overflow: auto;
    float: left;
    background: #AFEEEE;
    color: #000000;
    font-size: 24px;
}

.content {
    float: right;
    width: 74%;
    background: #F0FFF0;
    font-size: 21px;

}

.nav {
    text-decoration: none;
}

.nav:hover {
    background-color: #008B8B;
    color: #FFF8DC;
}


.one {
    width: 31%;
    float: left;
    margin-top: 10px;
    text-align: left;

}

.three {
    width: 31%;
    float: right;
    margin-left: 10px;
    margin-top: 10px;
    text-align: left;
}

.two {
    width: 32%;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    text-align: left;
}



.footer {
    width: 100%;
    height: 20px;
    background: #0000CD;
}

            /*HTML7 ПОЛОСА ПРОКРУТКИ*/

.over {
    overflow: auto;
    height:500px;
    margin-bottom: 10px;
}

.one_7 {
    width: 31%;
    height: 300px;
    float: left;
    margin-top: 10px;
    text-align: left;
    margin-bottom: 10px;
}

.two_7 {
    width: 32%;
    height: 300px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    text-align: left;
    margin-bottom: 10px;
}

.three_7 {
    width: 31%;
    float: right;
    margin-left: 10px;
    margin-top: 10px;
    text-align: left;
    margin-bottom: 10px;
}





















